server:
  port: 8080

#jwt:
#  secret: ${JWT_SECRET}

spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              uri: http://localhost:8081
              predicates:
                - Path=/auth/**

            - id: user-service
              uri: http://localhost:8082
              predicates:
                - Path=/users/**

          default-filters:
            - RemoveRequestHeader=Cookie