server:
  port: 8084

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/exam_db
    username: root
    password: Mockingbird@1234
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret: "supersecretkeysupersecretkeysadasdkasdkashdkashdaskdhaskdhaskjd"